body#body {
	 font-family: Arial, sans-serif;
}
.header {
	background: #808080;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 120px;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	line-height: 33px;
	font-weight: 600;
	padding: 0 30px;
	letter-spacing: 3px;
}

.content {
	/*background-image: url('/img/main2.png'); 
	background-position: center center; 
	background-repeat: no-repeat;  
	background-attachment: fixed;  
	background-size: cover; 
	background-color: #808080;
	overflow-y: hidden;*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    margin-top: 120px;
    margin-bottom: 110px;
	border-top: 4px solid #fff;
}

.red_icon {
	display: inline-block;
	width: 230px;
    height: 174px;
	background-image: url('/img/red_icon.png'); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 141px;
    left: 53px;
}


.footer {
	border-top: 4px solid #fff;
	background: #808080;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 110px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 0 30px;
}

.address, .email {
	text-align: left;
	font-size: 35px;
    font-weight: 600;
}
.address {
	/*text-transform: uppercase;*/
}
.address p {
	margin: 0;
	padding: 0;
}
.address p:first-of-type {
	margin-bottom: 10px;
}
.tel {
	font-size: 60px;
	font-weight: bold;
    
}


#maximage {
	position:relative !important;
}


#arrow_left, #arrow_right {
	bottom:42px;
	height:26px;
	position:absolute;
	right:30px;
	width: 19px;
	z-index:1000;
}
#arrow_left img, #arrow_right img {
	height:36px;
}
#arrow_left {
	left:30px;
}
#arrow_left:hover, #arrow_right:hover {
	bottom:41px;
}
#arrow_left:active, #arrow_right:active {
	bottom:40px;
}


body.brChrome #arrow_left, body.brChrome #arrow_right{
bottom: 150px;
}
body.brChrome #arrow_left:hover, body.brChrome #arrow_right:hover {
bottom:149px;
}
body.brChrome #arrow_left:active, body.brChrome #arrow_right:active {
bottom:148px;
}